.hero {
  z-index: -2;
  width: 100%;
  height: 80vh;
  background-image: url("../img/slider1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
h2 {
  text-align: center;
  margin-top: 7rem;
}
h2:after {
  display: block;
  margin: 1rem auto;
  content: "";
  height: 2px;
  background-color: $main-orange;
  width: 60rem;
}
.heading2 {
  font-size: 4rem;
  letter-spacing: 1.5rem;
  text-align: center;
  margin-bottom: 7rem;
}

section {
  max-width: 89rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-rows: 20rem 20rem;
  grid-template-columns: 20rem 20rem;
  grid-gap: 2rem;
  margin-right: 5rem;
}
.grid img {
  height: 20rem;
}
.home-icon {
  margin: 10rem 0;
  height: 12rem;
}
.home-icon:last-of-type {
  margin-bottom: 0;
}
.two-grid {
  img {
    grid-column: 1;
  }
  margin-left: 5rem;
  margin-right: 0;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 250px 0 0 1920px;
  border-color: transparent transparent transparent $main-orange;
}
.colored-background {
  background: $main-orange;
  padding-bottom: 10rem;
}
.med-text {
  color: white;
  h3 {
    color: white;
    border-color: white;
  }
}
