.shop-row {
  margin-bottom: 5rem;
}

.shop-item {
  p {
    text-align: center;
    margin: 2rem 0;
  }
}
.item-name {
  color: $main-orange;
}
section.last-section {
  max-width: 89rem;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    width: 42rem;
  }
}
.shop-image {
  display: block;
  margin-right: 5rem;
  height: 42rem;
}
.value-name {
  margin: 5rem 0;
}
button {
  color: $main-orange;
  background: transparent;
  border: none;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}
button:hover {
  background: $main-orange;
  cursor: pointer;
  color: white;
}
.button-active {
  color: white;
  background: $main-orange;
}
button:nth-of-type(1) {
  border: solid 2px $main-orange;
  border-right: 0;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  margin-right: -2px;
}
button:nth-of-type(2) {
  border: solid 2px $main-orange;
}
button:nth-of-type(3) {
  border: solid 2px $main-orange;
  border-left: 0;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  margin-left: -2px;
}
