.shop-main {
  margin: 5rem 0;
}
.shop-row {
  margin-bottom: 5rem;
}

.shop-item {
  p {
    text-align: center;
    margin: 2rem 0;
  }
}
.item-name {
  color: $main-orange;
}
section.last-section {
  max-width: 89rem;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    width: 42rem;
  }
}
.shop-image {
  display: block;
  margin-right: 5rem;
  height: 42rem;
}
.value-name {
  margin: 5rem 0;
}
