@font-face {
  font-family: "Lemon Milk";
  src: url("../font/LemonMilk.otf");
}
$header1: 2.5rem;
$header2: 4.5rem;
$header3: 4rem;
$header4: 2rem;
$text: 2rem;
$grey-text: #262626;
$main-orange: #f79721;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "home";
@import "contact";
@import "shop";

@media only screen and (max-width: 950px) {
  html {
    font-size: 50%;
  }
  header .ham-menu {
    display: block;
  }
  header nav {
    display: none;
  }
  section {
    flex-direction: column;
    max-width: 40rem;
  }
  .shop-item {
    margin-bottom: 5rem;
  }
  .shop-row {
    margin-bottom: 0;
  }
  .contact-image,
  .shop-image {
    margin: 3rem 0;
  }
  .grid,
  .two-grid {
    margin: 3rem 0;
  }
  .footer-wrap {
    width: 100%;
    padding: 0 5%;
  }
}
@media only screen and (max-width: 520px) {
  html {
    font-size: 40%;
  }
  .footer-wrap {
    flex-direction: column;
    justify-content: space-around;
    p {
      text-align: center;
    }
  }
}
